.btn-order-here {
  width: 235px;
  height: 54px;
}

.carousel-transform {
  padding-top: 100px;
}

.banner-control-next {
  width: 40px;
  height: 30px;
  border: 0;
  transition: opacity 0.15s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner-control-next-wrapper:before {
  content: "";
  height: 270px;
  display: inline-block;
  vertical-align: middle;
}

.sm-links {
  list-style: none;
}

.sm-text {
  position: absolute;
  transform-origin: 0 0;
  transform: rotate(-90deg);
  bottom: -165px;
  font-size: 24px;
}

.banner-h1{
  font-size: 54px;
}

.banner-h4{
  font-size: 19px;
  margin-top: 70px;
}

@media screen and (min-width: 576px) {
  .banner-h1{
    font-size: 70px;
  }
  
  .banner-h4{
    font-size: 22px;
  }
}

@media screen and (min-width: 768px) {
  .banner-h1{
    font-size: 63px;
  }
}

.sm-banner-icons {
  width: 26px;
}