:root {
  /* Fonts */
  --f-main: "Josefin Sans", sans-serif; /* h1, h2, h3, h6 */
  --f-secondary: "Alegreya Sans", sans-serif; /* h5 */
  --f-decor: "Cedarville Cursive", cursive; /* h4 */

  /* Colors */
  --main-color: #ffffff;
  --main-text-color: #000000;
  --secondary-text-color: #444a4a;
  --btn-bg-color: #2d635e;
  --first-accent-color: #e3ebe7;
  --first-accent-color-opacity: rgba(227, 235, 231, 0.4);
  --second-accent-color: #fae9e0;

  --main-trans-time: 0.5s;
}

.f-main {
  font-family: var(--f-main);
}

.f-secondary {
  font-family: var(--f-secondary);
}

.f-decor {
  font-family: var(--f-decor);
}

.main-color {
  background-color: var(--main-color);
}

.main-text-color {
  color: var(--main-text-color);
}

.secondary-text-color {
  color: var(--secondary-text-color);
}

.btn-bg-color {
  background-color: var(--btn-bg-color);
}

.first-accent-color {
  background-color: var(--first-accent-color);
}

.first-accent-color-opacity {
  background-color: var(--first-accent-color-opacity);
}

.second-accent-color {
  background-color: var(--second-accent-color);
}

body {
  max-width: 1440px;
  margin: auto;
}

.main-width {
  max-width: 1200px;
  margin: auto;
}

.mb-6 {
  margin-bottom: 4.5rem;
}

.mb-7 {
  margin-bottom: 6rem;
}

.mb-8 {
  margin-bottom: 8rem;
}

.mb-9 {
  margin-bottom: 10rem;
}

.fs-19 {
  font-size: 19px;
}

.fs-38 {
  font-size: 38px;
}

.btn-hvr {
  transition: var(--main-trans-time);
}

.btn-hvr:hover {
  background-color: var(--secondary-text-color);
}

.line-h-30 {
  line-height: 30px;
}
