:root {
  /* Fonts */
  --f-main: "Josefin Sans", sans-serif; /* h1, h2, h3, h6 */
  --f-secondary: "Alegreya Sans", sans-serif; /* h5 */
  --f-decor: "Cedarville Cursive", cursive; /* h4 */

  /* Colors */
  --main-bg-color: #ffffff;
  --main-text-color: #000000;
  --secondary-text-color: #444a4a;
  --btn-bg-color: #2d635e;
  --first-accent-color: #e3ebe7;
  --second-accent-color: #fae9e0;
}

.f-main {
  font-family: var(--f-main);
}

.f-secondary {
  font-family: var(--f-secondary);
}

.f-decor {
  font-family: var(--f-decor);
}

.main-bg-color {
  background-color: var(--main-bg-color);
}

.main-text-color {
  color: var(--main-text-color);
}

.secondary-text-color {
  color: var(--secondary-text-color);
}

.btn-bg-color {
  background-color: var(--btn-bg-color);
}

.first-accent-color {
  background-color: var(--first-accent-color);
}

.second-accent-color {
  background-color: var(--second-accent-color);
}

body {
  max-width: 1440px;
  margin: auto;
}

nav {
  max-width: 1200px;
  margin: auto;
}

.entrance-banner {
  max-width: 1200px;
  margin: auto;
}

.btn-order-here {
  width: 235px;
  height: 54px;
}

.carousel-transform {
  /* transform: translateY(100px); */
  padding-top: 100px;
}

.cont-box {
  box-sizing: content-box;
}
